# Ignore compiled folders and build outputs for specific projects
BanBox/Debug/
BanBox/Release/
BT_Audio_APP/Debug/
MyApplication/build/
MyApplication/gradle/
*.o
*.d
*.exe
*.bin
*.elf
*.map
*.lst
*.a
*.so
*.dll
*.lib
*.pdb
*.ilk
*.suo
*.user
*.tmp
*.log
*.cache
.vscode/settings.json
.idea/
*.swp
*.swo
*~
.metadata/
_ICEman_/
