# Ignore compiled folders and build outputs
Debug/
Release/
build/
gradle/
output/
*.o
*.d
*.exe
*.bin
*.elf
*.map
*.lst
*.a
*.so
*.dll
*.lib
*.pdb
*.ilk
*.suo
*.user
*.tmp
*.log
*.cache
.vscode/settings.json
.idea/
*.swp
*.swo
*~